
<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>

export default {
  name: 'app',
  data () {
    return {
      addy: '',
      bolstarMsg: 'you did it kiddo',
      civicData: '',
      params: '',
      form: {
        country: {
          label: null,
          data: {}
        }
      }
    }
  },
  methods: {
  },
  created () {
  }
}
</script>

<style>

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,500,600|Cambo|Roboto+Condensed:700');
#bigButton {
  position: absolute;
  right: 1rem;
  z-index: 888;
  transition: all 250ms ease-in-out;
  top: 9.5rem;
  /* first drop shadow handles the v light shadow and the second handles the sharper shadow drop-shadow(1px 14px 6px rgba(15, 13, 2, 0.07)) */
  filter: drop-shadow(1px 5px 3px rgba(15, 13, 2, 0.2)) drop-shadow(0px -5px 5px rgb(173, 39, 15, .2));
  -webkit-filter: drop-shadow(1px 5px 3px rgba(15, 13, 2, 0.2)) drop-shadow(0px -5px 5px rgb(173, 39, 15, .2));
}
/* #bigButton:hover {
  filter: drop-shadow(1px 14px 14px rgba(15, 13, 2, 0.2)) drop-shadow(1px 8px 10px rgba(15, 13, 2, 0.25));
  -webkit-filter: drop-shadow(1px 14px 14px rgba(15, 13, 2, 0.2)) drop-shadow(1px 8px 10px rgba(15, 13, 2, 0.25));
} */
html {
  background-color: #fafafa;
  height: 100%;
  /* box-sizing: border-box; */
}

*, *:before, *:after {
  box-sizing: inherit;
}
#app {
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 46rem;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
  text-align: center;
  box-shadow: -1px 5px 9px rgba(0, 0, 0, 0.12), 1px 3px 7px rgba(0,0,0,0.08);
  padding: 10px 24px;
  min-height: 45rem;
  position: relative;
  border-radius: 3px;
  border: 1px solid rgb(164, 182, 150);
}

.hotBod {
  position: relative;
  top: 1rem;
  padding-bottom: 1rem;
}

#overviewNotice {
  color: rgb(113, 106, 56);
  font-size: 130%;
  width: 20rem;
  text-align: left;
  line-height: 140%;
  height: 12rem;
  padding-left: .4rem;
}
#overviewNoticeWrapper {
  background-color: rgba(230, 230, 230, 0.8);
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  width: 100%;
  padding-left: 1.75rem;
  padding-top: 2.2rem;
  padding-bottom: 1rem;
  position: relative;
  margin-bottom: -.99rem;
  border-radius: 3px;
  margin-top: .4rem;
}
#overviewMarquee {
  font-size: 350%;
  color: #353839; /* color --> "jet black" */
  font-weight: 600;
  text-align: left;
  margin-bottom: 1.25rem;
}
.simple-navigation-header {
  color: #3c9035;
  width: 42.5rem;
  font-size: 105%;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  height: 4rem;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#takeMeOmh {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 125%;
  color: #3c9035;
  transition: color 150ms ease-in-out;
}
#takeMeOmh:hover {
  color: #6bb466;
}
#takeMeOmhDaddy {
  top: .5rem;
  position: relative;
  left: .2rem;
}
.mui-btn {
  width: 125px;
  font-weight: 500;
  font-size: 14px;
  background-color: #f7f7f0;
  transition: all 250ms ease-in-out;
  border: none;
  top: -.2rem;
}
.arrow {
  height: 60%;
  width: auto;
}
.arrowL {
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */

  /* IE8 and below */
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');
}
#righty:hover {
  transform: translate(3px, 0px);
  -webkit-transform: translate(3px, 0px);
}
#lefty:hover {
  transform: translate(-3px, 0px);
  -webkit-transform: translate(-3px, 0px);
}
router-link:hover {
  text-decoration: none !important;
}

body {
  margin: 0;
  padding: 0;
  /* 👇 the color behind the 'page' element */
  background: #fafafa;
  height: 100%;
}

a {
  color: #3b3c36;
  text-decoration:none !important;
}
a:visited:not(#takeMeOmh) {
  color: #3b3c36;
}


h1 {
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 25px;
}

input, input:focus {
  border: none;
  outline: none;
}
#takeMeOmh:visited, #takeMeOmhDaddy:visited {
  color: #3b3c36 !important;
}
</style>
